/*Папка для стилевых файлов.

Пример структуры файлов:

css/
| - style.css
| - [другие *.css файлы]*/

.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip:rect(0 0 0 0);
  overflow: hidden; 

}
:root {
  --basic-light: #888888;
  --basic-background:#F2F2F2;
  --basic-second-background:#EBEBEB;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --first-blue: #669EC0;
  --second-blue: #5496BD;
  --basic-brown: #766357;
  --first-brown: #604E43;
  --second-brown: #503E33; 
  --special: #663d15;
}

 body { 
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background); 
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.page-body {
 min-height: 100%; 
}
/*Контейнер для центрирования*/
.container {
  width: 1200px;
  margin: 0 auto; 
  padding: 0;
}
.grid-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; 
}
/* main navigation */

.main-navigation { 
  height: 56px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main-header-logo {
  margin: 0;
  padding: 0; 
  position:absolute;
  left: 50%;
  margin-left: -64px;
  z-index: 1;
} 
.site-navigation { 
  top: 0px;
  min-width: 1200px;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  /*
  margin-right: 30px;
  margin-left: 30px;*/
  list-style: none;
  font: inherit;
  min-height: 56px;
  box-sizing: border-box;
  line-height: 26px;
  display: flex;
  justify-content: space-between; 
  align-content:center;
  align-items: start;
  flex-wrap: wrap; 
}
.site-navigation a {
  font:inherit;
  font-weight: bold;
}
.site-navigation li {
  width: 230px;
}
.site-navigation li:nth-child(4n-3) { 
  text-align: left;
} 
.site-navigation li:nth-child(4n-2) { 
  text-align: left;
  padding-right: 30px;
} 
.site-navigation li:nth-child(4n-1) { 
  text-align: right;
  padding-left: 100px;
} 
.site-navigation li:nth-child(4n) { 
  text-align: right;
} 
.site-navigation a {
  color: var(--basic-black); 
} 
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--first-blue);
}
.site-navigation a:active {
  color: var(--second-blue);
} 
.main-main {
  display: grid;
}
.welcome {
  text-align: center;
  padding-top: 76px; 
  box-sizing: border-box;
  background-image: url("../img/background\ photo.png");
  background-position: top center;
  width: 1200px;
  height: 508px;
  position: relative;
}
.welcome::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url(../img/shape.png);
  background-size: 1200px 57px;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0; 
}  
.attention { 
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  width: 1200px;
  height: 215px;
}
.attention h2{
  padding: 0;
  font: inherit;
  margin-top: 42px;
  font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 padding-bottom: 25px; 
}
.attention .reasons-header {
  /*margin-top: 17px;*/
  font-size: 14px;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 35px;
}

/* 5 ПРИЧИН */
 
.colomn-1 {
  display: flex; 
  justify-content: space-around; 
  height: 256px; 
}
.true-city {  
  padding: 0;
  margin: 0;  
  background-color: var(--basic-blue);
  width: 400px;
  text-align: center;
  color: var(--basic-white);  
}
.true-city h3 {
  margin: 0;
  text-align: center;
  padding-left: 130px;
  padding-top: 33px;
  padding-bottom: 10px;
  font:inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  max-width: 149px;
  height: 43px;
}
.colomn-2 {
  position: relative;
  /*top: -15px;*/
  font: inherit;
  list-style: none; 
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  align-items: center;
  padding-bottom: 60px;
  padding-top:  60px;
  padding-left: 4px; 
}
/*
.colomn-2 h2{
  padding-bottom: 5px;
  padding-top: 3px;
font: inherit;
font-weight: bold;
font-size: 21px;
line-height: 21px;
}*/
.colomn-2 h3 {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}  
.colomn-3 {
  position: relative;
  /*top: -5px;*/
  display: flex;
  justify-content: space-around;
} 
.colomn-3 h3 {
  padding-right: 5px;
}
.colomn-3 .true-city {
   padding-top: 5px;
}
.colomn-4 {
  position: relative;
  top: -8px;
  height: 256px;
  font: inherit;
  list-style: none; 
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--basic-background);
  align-items: center;
  padding-left: 10px; 
}
.reasons-list {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  text-align: center;
} 
.reason-item h3 { 
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
}
.interesting { 
  background-color: var(--basic-white);
}
.best-variant { 
font:inherit;
text-align: center;
background-color: var(--basic-white);
}
.best-variant h4{
  margin-top: 50px;
  margin-bottom:30px ; 
  font-size: 30px;
}
.best-variant p{ 
  margin-bottom: 45px ; 
}
/*Форма Поиска*/ 
.call-search-form {
  position: relative;
  /*top: -25px;*/
  font-style: inherit;
  text-align: center;
  display: block;
  margin: auto; 
  padding: 30px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: auto;
  background-color: var(--basic-brown);
  position: relative; 
  border: 0; 
} 
.call-search-form a {
  width: 319px;
  align-items: center; 
  color: var(--basic-white);
  font:inherit;
}
.call-search-form a :hover,
.call-search-form a :focus {
  padding:30px 138px ;
  background-color: #604E43;
  color: var(--basic-white);
} 
.call-search-form a:active {
  padding:30px 138px ;
  background-color: #503E33;
  color: var(--basic-white);
  opacity: 0.3;
}
.map-sidona {  
  text-align: center;
  position: relative; 
  z-index: 1;
}  
.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%); 
  font:inherit;
  text-align: center;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 568px;
  height: 395px; 
  padding: 0px; 
  z-index: 2;
}
.search-form fieldset{
  padding: 0; 
  border:0; 
}
.search-form fieldset:first-child {
  padding-top: 53px;
  margin-left: 18px;
} 
.search-form fieldset:nth-child(2) {
  padding-top: 25px; 
  margin-left: 18px;
}
.search-form fieldset:nth-child(3) {
 padding-top: 36px;
 margin-left: 27px;
}
.search-form fieldset:nth-child(4) {
  padding: 16px 181px; 
margin-top: 55px;
  margin-left: 55px;
  margin-right: 55px; 
}
/* ДАТА ЗАЕЗДА */
.date-arrive { 
  font: inherit; 
  background-color: white; 
  padding-left: 20px; 
}
.date-arrive label {
font-weight: bold;
font-size: 14px;
line-height: 26px;
background-color: var(--basic-white); 
}
.date-arrive input {
  font: inherit;
  border: 0;
  width: 336px; 
  height: 38px ;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-left: 20px;
  padding-left: 12px;
  color: var(--basic-black); 
  background-color: var(--basic-background);
  border: 0;
}
.date-arrive input::-webkit-input-placeholder{
   
  font: inherit; 
  color: var(--basic-black);
  font-weight: 20%;
}
.date-arrive input:hover {
  color: var(--basic-black); 
  background-color: var(--basic-second-background);
}
.date-arrive input:focus {
  color: var(--basic-black); 
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}
.calendar-svg {
  position: relative;
  left: -45px;
  top: 5px;
  border: 0;
}
.calendar-svg:hover svg {
  fill: var(--basic-black);
  background-color: var(--basic-white);
  border: 0;
}
.calendar-svg:active svg {
  border: 0px;
  fill:#81B3D2; 
  background-color: var(--basic-white); 
} 
/* ДАТА ВЫЕЗДА*/
.date-depart {
  font: inherit; 
  background-color: var(--basic-white);
  margin: 0;
  padding-left: 20px;

}
.date-depart label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white); 
  }
.date-depart input {
  font: inherit;
  border: 0;
 width: 336px; 
  height: 38px ;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-left: 20px;
  padding-left: 12px;
  color: var(--basic-black); 
  background-color: var(--basic-background); 
 
}
.date-depart input::-webkit-input-placeholder{
   
  font: inherit; 
  color: var(--basic-black);
  font-weight: 20%;
}
.date-depart input:hover {
  color: var(--basic-black); 
  background-color: var(--basic-second-background);
}
.date-depart input:focus {
  color: var(--basic-black); 
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
} 
.date-depart button {
  color: var(--basic-background) ; 
}
.date-depart button:hover {
  color: var(--basic-black);
}
.date-depart button:active {
  color: var(--basic-blue) ; 
}
/* ВЗРОСЛЫЕ И ДЕТИ */
.people {
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-around;
  padding-right: 30px;
}
.people label {
font-weight: bold;
font-size: 14px;
line-height: 26px;
background-color: var(--basic-white);
/*padding-left: 20px;*/
padding-right: 20px;
padding-top: 25px;
padding-bottom: 25px; 
}
.people button{  
  width: 32px;
  height: 26px;
}

.adult-quantity {
  background-color: var(--basic-background);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.adult-quantity label{
  padding-right: 50px;
}
.adult-quantity input{  
  border: 0;
  color: var(--basic-black);
  background-color:var(--basic-background);
  text-align: center;
  padding: 6px, 0px;
  width: 38px;
  height: 26px; 
}
.adult-quantity button{ 
  border: 0; 
  background-color:var(--basic-background);
}
.adult-quantity  svg.plus {
transform: rotate(90deg);
position: relative;
top: -15px;
 
}
.adult-quantity  svg {
  fill:#CACACA;
  background-color:var(--basic-background);
  border: 0;
}
 .adult-quantity:hover svg {
fill: var(--basic-black);
background-color:var(--basic-background);
border: 0; 
   
 }
.adult-quantity:active svg {
  fill: var(--basic-blue);
  background-color:var(--basic-background); 
  border: 0; 
}  
.child-quantity {
  background-color: var(--basic-background);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.child-quantity input { 
  border: 0;
  color: var(--basic-black);
  background-color: var(--basic-background);
  text-align: center;
  width: 38px;
  height: 26px; 
} 
.child-quantity button { 
  border: 0; 
  background-color: var(--basic-background);
}
.child-quantity  svg.plus {
  transform: rotate(90deg);
  position: relative;
  top: -15px;
  }
.child-quantity  svg {
  fill:#CACACA;
  background-color:var(--basic-background);
  border: 0;
}
.child-quantity:hover svg {
  fill: var(--basic-black);
  background-color:var(--basic-background);
  border: 0; 
}
.child-quantity:active svg {
  fill: var(--basic-blue);
  background-color:var(--basic-background); 
  border: 0; 
} 
.find {
  text-align: center;
  margin: 20px;
  font:inherit;
  background-color: var(--basic-blue); 
  border: 0px;
}
.find button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  align-items: center; 
  height: 26px;
  width: 95px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: 0; 
} 
.find button :hover {
  background-color: var(--first-blue);
  color: var(--basic-white);
}
.find button :active {
  background-color: var(--second-blue);
  padding:30px 180px ;
  color: var(--basic-white);
  opacity: 0.3;
} 

/* Футер */
.main-footer {
  /*position: relative;*/
  background: rgba(255, 255, 255, 0.9);
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 3;
  height: 120px; 
  margin-top: -120px;
}
.main-footer .visit{
  margin-bottom: 20px; 
  color: var(--basic-black);
}

.visit {
font-weight: bold;
font: inherit;
color: var(--basic-black);
font-size: 21px;
line-height: 26px;
text-align: center;
margin: 0;
padding: 0; 
 
/*padding-top: 5px;
padding-bottom: 20px;*/
margin-left: 100px;  
}
.visit a {
padding-left: 15px;
}
.create-by {
margin-right: 139px; 
}

.create-by img {
  padding-bottom: 14px;
}
.create-by svg {
  width: 115px; 
}
.create-by:hover svg,
.create-by:focus svg {
  fill:  red;
}
.create-by:active svg {
  background-color: green;
}

.footer-logo {
text-align: right;
color: var(--basic-black); 
}

/*
.footer-logo:hover svg,
.footer-logo:focus svg {
  fill: var(--basic-blue);
} 
.footer-logo:active svg{
  fill: red;
}


.footer-logo:hover,
.footer-logo:focus {
text-align: right;
color: var(--basic-blue);
}
.footer-logo:focus {
text-align: right;
color: var(--basic-background);
}*/
/* СОЦ СЕТИ*/
 
.main-footer .social {
  margin:0;
  margin-right: 1px;
  
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 156px;
  margin-right: 75px;
  display: flex;
  justify-content: space-between; 
  
}
.social-button-1 {
  background-color: var(--basic-blue);
  padding: 17px 14px 16px 15px;
 }
.social-button-2 {
  background-color: var(--basic-blue);
  padding: 22px 17px 10px 17px; 
}
.social-button-3 {
  background-color: var(--basic-blue);
  padding: 15px 14px 16px 17px;
} 
.social-button-1:hover,
.social-button-1:focus, {
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-1:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
} 
.social-button-2:hover,
.social-button-2:focus, {
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-2:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
}
.social-button-3:hover,
.social-button-3:focus, {
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-3:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
}

/* Inner.html */
.page-body-inner{
  width: 100%;
}
.inner-grid-wrapper{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
} 
/* Форма размещения */
.accomodation { 
  font: inherit; 
  width: 100%;
  height: 217px; 
  display: flex;
  justify-content: start; 
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url("../img/background-inner.png");
  color: var(--basic-white); 
}

/* Первая колонка */
.type-ability {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 72px;
  margin-top: 26px;
}
.type-ability h3 {
  margin-top: 0; 
} 
.menu-ability {
  list-style: none;
  width: 267px;
  border: 0;
  padding: 0;
  margin: 0; 
}
.menu-ability li {
  padding-top: 7px;
  padding-left: 30px;
} 
.menu-ability :first-child{
  padding-top: 0;
}
.menu-ability :last-child{
  padding-top: 10px;
}
.menu-ability label {
  padding-left: 10px;
  position: relative;
  display: block; 
  cursor: pointer;
  user-select: none;
} /*
.menu-ability input {
  width: 27px;
  height: 23px;
} */
.menu-ability input:hover+label,
.menu-ability input:focus+label {
color: var(--basic-white);
} 
.menu-ability input+label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 5;
  width: 23px;
  height: 23px; 
  background-color: none;
  border: 2px solid #ffffff;
  border-radius: 3px; 
}
.menu-ability input:checked+label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 12px;
  width: 21px;
  height: 21px; 
  background-image: url("../img/check.png"); 
}
/* Вторая колонка */

.menu-accomodation{
  list-style: none;
  width: 267px; 
  padding: 0;
  margin: 0;
}
.menu-accomodation li {
  padding-top: 7px;
  padding-left: 25px;
}
.menu-accomodation :first-child{
  padding-top: 0;
}
.menu-accomodation :last-child{
  padding-top: 10px;
}  
.menu-accomodation label {
  padding-left: 10px;
  position: relative;
  display: block; 
  cursor: pointer;
  user-select: none;
}
 
.menu-accomodation input:hover+label,
.menu-accomodation input:focus+label {
color: var(--basic-white);
} 
 
.menu-accomodation input+label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 5;
  width: 23px;
  height: 23px; 
  background-color: none;
  border: 2px solid #ffffff;
  border-radius: 3px; 
}
.menu-accomodation input:checked+label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 12px;
  width: 21px;
  height: 21px; 
  background-image: url("../img/check.png"); 
}
/*
.menu-accomodation input:hover,
.menu-accomodation input:focus,
 {
  width: 27px;
  height: 23px;
  background: none; 
  color: var(--basic-white); 
}
.menu-accomodation input:active,
 {
  width: 27px;
  height: 23px;
  background: none; 
  color: var(--basic-white); 
}*/
.menu-accomodation :nth-child(3n) input{
  
}


/*
*/
.type-accomodation {
  position: relative;
  left: -10px;
  margin: 0;
  padding: 0;
  border: none; 
  margin-top: 26px;
}
.type-accomodation h3 {
  margin-top: 0;
} 

/* Третья колонка */ 

.accomodation .field-3 {
  margin: auto;
  width: 317px;
  margin-right: 73px;
  /*align-items: flex-start;*/
  padding: 0;
  border: 0;
}
.field-3 legend {
  margin-top: 0;
  text-align: left; 
} 
.cost-per-day { 
  font: inherit; 
  text-align: center;  
  margin-bottom: 15px;
}
.cost-per-day legend {
  width: 317px;
  margin-top: 0; 
  font-size: 16px; 
  line-height: 21 px;
  text-align: none;
  color: var(--basic-white);
  background-image: inherit;
}
.cost-per-day button {
  width: 137px;
  font:inherit;
  background: none;
  border: 2px solid #ffffff;
  color: var(--basic-white); 
  font-size: 14px;
  line-height: 21px; 
  padding-bottom: 8px;
  padding-top: 7px;
}
.price-controls { 
  display: flex; 
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 5px;
  font: inherit; 
  font-size: 14px;
  line-height: 21px;
  text-align: center; 
  color: var(--basic-white);
  background-image: inherit;  
}

.price-controls input {
  background: none; 
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff ;
  color: var(--basic-white); 
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
  margin-bottom: 8px;
}
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} 
.line { 
  position: relative; 
  right: -120px;
  top: 25px;
  height: 2px;
  background: var(--basic-white);
  transform: rotate(90deg);
  margin-left: 25px ;
  margin-right: 280px;
   
}
.price-controls .min-price input {
  border-left: 2px solid #ffffff;
}
.price-controls .max-price input {
  border-right: 2px solid #ffffff;
}
/*
.price-controls .line {
  height: 15px;
  background: red;
  transform: rotate(90deg);
}*/
.price-controls  input::-webkit-input-placeholder { 
  font: inherit; 
  color: white;
  font-weight: 20%;
}

.range-controls {
  position: relative;
  padding-bottom: 33px ;
  width: 316 px;
  padding-right: 5px;
  padding-left: 5px;  
}
.range-controls .scale-white-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3) 
}
.range-controls .bar-blue-line {
  width: 78%;
  height: 2px;
  background-color: var(--basic-white);  
}
.range-controls .toggle {
  position: absolute;
  left: 0;
  bottom: 23px;
  height: 4px;
  width: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ABABAB;
  box-shadow: 0 2px 1px 0 #ABABAB;
  cursor: pointer;
}
.range-controls .toggle:hover{
transform: scale(1.2);
}
.range-controls .circle-max {
  left: 240px;
} 
 
/* СТРОКА МЕНЮ ФИЛЬТРОВ */

.search-menu {
  padding: 0;
  margin: 0;
  font: inherit;
 height: 86px;
  background-color: var(--basic-white) ;
  display: flex;
  justify-self: start; 
}
.search-menu p {
  padding-left: 25px;
  font-size: 21px;
  font-weight: bold; 
}
.search-menu div:nth-child(1){
  padding-left: 30px;
  padding-top: 15px;
}
.search-menu div:nth-child(2){
  padding-left: 50px;
  padding-top: 15px;
} 
.search-menu div:nth-child(4){
  margin: auto;
  margin-right: 73px;
}
.sorting {
  font: inherit;
  list-style: none;
  width: 354px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 30px;
}
.sorting li:first-child a {
  color: var(--basic-blue);
}
.sorting li:nth-child(2) a {
  font: inherit;
  font-size: 12px;
  line-height: 18px; 
  color: var(--basic-blue);
}
.sorting li:nth-child(3) a {
  font: inherit;
  font-size: 12px;
  line-height: 18px;  
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3; 
  border-bottom: 1px dashed var(--basic-blue);
} 
.sorting li:nth-child(4) a {
  font: inherit;
  font-size: 12px;
  line-height: 18px;  
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3; 
  border-bottom: 1px dashed var(--basic-blue); 
}
.sorting li:nth-child(4) a:hover,
.sorting li:nth-child(4) a:focus {
  color: var(--basic-blue);
  opacity: 0.9;
}
.sorting li:nth-child(4) a:active {
  color: var(--basic-black);
  opacity: 0.9;
  border-bottom: none;
}
.arrow svg {
  fill:#CACACA;
  padding-left: 10px;
}
.arrow:hover svg {
fill: var(--basic-black); 
 }
.arrow:active svg {
  fill: var(--basic-blue);
  border: 0; 
}
/* РАЗДЕЛ с ГОСТИННИЦАМИ */
.accomodation-list {
  font: inherit;
  width: 100%;
  list-style: none; 
  padding: 0;
  margin: 0; 
} 
.amara  {
  display: flex;
  justify-content: start;  
  margin-top: 2px;
  background-color: var(--basic-white);
  height: 150px;  
}
.amara div:nth-child(1){
 padding: 29px 20px 29px 73px;
}
.amara div:nth-child(2){
  padding-top: 10px;
  padding-left: 8px;
}
.amara h2 {
  margin-bottom: 0;
}
.amara pre {
  font: inherit;
  margin-top: 2px; 
}
.amara .blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.amara .blue:hover,
.amara .blue:focus {
  background-color: var(--first-blue);
  color: var(--basic-white);
}
.amara .blue:active { 
  color: var(--basic-white); 
  background-color: var(--second-blue);
} 
.amara .brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  margin-left: 2px;
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.amara .brown:hover,
.amara .brown:focus {
  background-color: var(--first-brown);
  color: var(--basic-white);
}
.amara .brown:active { 
  color: var(--basic-white); 
  background-color: var(--second-brown);
}
.amara div:nth-child(3){
  margin-left: auto;
  padding-right: 72px; 
}
.amara p {
  background-color: var(--basic-background);
  color: #666666;
  margin-top: 33px;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.desert {
  display: flex;
  justify-content: start;
  margin-top: 2px;
  background-color: var(--basic-white);
  height: 150px;
}
.desert h2 {
  margin-bottom: 0;
}
.desert pre {
  font: inherit;
  margin-top: 1px;
}
.desert div:nth-child(1){
  padding: 29px 20px 29px 73px;
}
.desert div:nth-child(2){
  padding-top: 9px;
  padding-left: 8px;
}
.desert div:nth-child(3){
  margin-left: auto;
  padding-right: 72px;
}
.desert .blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.desert .blue:hover,
.desert .blue:focus {
  background-color: var(--first-blue);
  color: var(--basic-white);
}
.desert .blue:active { 
  color: var(--basic-white); 
  background-color: var(--second-blue);
}
.desert .brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  margin-left: 2px;
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.desert .brown:hover,
.desert .brown:focus {
  background-color: var(--first-brown);
  color: var(--basic-white);
}
.desert .brown:active { 
  color: var(--basic-white); 
  background-color: var(--second-brown);
}
.desert p {
  background-color: var(--basic-background);
  color: #666666;
  margin-top: 33px;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.villas {
  display: flex;
  justify-content: start; 
  margin-top: 2px; 
  background-color: var(--basic-white);
  height: 150px;
}
.villas h2 {
  margin-bottom: 0;
}
.villas pre {
  font: inherit;
  margin-top: 1px;

}
.villas div:nth-child(1){
  padding: 29px 20px 29px 73px;
}
.villas div:nth-child(2){
  padding-top: 8px;
  padding-left: 8px;
}
.villas div:nth-child(3){
  margin-left: auto;
  padding-right: 72px;
}
.villas .blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.villas .blue:hover,
.villas .blue:focus {
  background-color: var(--first-blue);
  color: var(--basic-white);
}
.villas .blue:active { 
  color: var(--basic-white); 
  background-color: var(--second-blue);
}
.villas .brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  margin-left: 2px;
  padding-left: 15px; 
  padding-right: 16px ;
  padding-top: 6px;
  padding-bottom: 6px;
}
.villas p {
  background-color: var(--basic-background);
  color: #666666;
  margin-top: 33px;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.stars {
  list-style: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  padding-top: 30px;
  display: flex; 
  justify-content: flex-end; 
  margin-left: 2px; 
} 

 /*ФУТЕР ИННЕРА*/
.main-footer-1 { 
  margin-top: 2px;
  background-color: var(--basic-white) ;
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.main-footer-1 .visit{
  margin-bottom: 20px; 
  color: var(--basic-black);
}
.main-footer a{
  color: var(--basic-black);
} 
.visit {
font-weight: bold;
color:inherit;
text-align: center;
margin: 0;
padding: 23px;
margin-left: 88px; 
}
.visit a {
  padding-left: 15px;
  color: var(--basic-black);
  }
.create-by {
margin-right: 139px; 
}
.footer-logo {
text-align: right;
color: var(--basic-black); 
}
.footer-logo:hover,
.footer-logo:focus {
text-align: right;
color: var(--basic-blue);
}
.footer-logo:focus {
text-align: right;
color: var(--basic-background);
}
/* СОЦ СЕТИ*/
.social {
  margin: 36px auto;
}
.main-footer-1 .social {
  margin:0;
  margin-right: 40px;
  
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 156px;
  margin-right: 45px;
  display: flex;
  justify-content: space-between; 
}
.social-button-1 {
  background-color: var(--basic-blue);
  padding: 17px 14px 16px 15px;
 }
.social-button-2 {
  background-color: var(--basic-blue);
  padding: 22px 17px 10px 17px; 
}
.social-button-3 {
  background-color: var(--basic-blue);
  padding: 15px 14px 16px 17px;
} 
.social-button-1:hover,
.social-button-1:focus, {
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-1:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
} 
.social-button-2:hover,
.social-button-2:focus,{
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-2:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
}
.social-button-3:hover,
.social-button-3:focus, {
background-color: var(--first-blue);
color: var(--basic-white);
}
.social-button-3:active {
background-color: var(--second-blue);
color: var(--basic-white);
opacity: 0,3;
}
