/*Папка для стилевых файлов.

Пример структуры файлов:

css/
| - style.css
| - [другие *.css файлы]*/


:root {
  --basic-light: #888888;
  --basic-background:#F2F2F2;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --first-blue: #669EC0;
  --second-blue: #5496BD;
  --basic-brown: #766357;
  --first-brown: #604E43;
  --second-brown: #503E33;
   
  --special: #663d15;
}

 body {
   
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background);
  /*background-image: url("../img/background photo opt.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*Контейнер для центрирования*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/* main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
 

.site-navigation a {
color: var(--basic-black);
position: absolute;
list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--first-blue);
}
.site-navigation a:active {
  color: var(--second-blue);
}
.site-navigation .container{
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  text-align: center; 
}
.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip:rect(0 0 0 0);
  overflow: hidden;

}
.welcome {
  text-align: center;
  background-image: url("../img/background photo opt.jpg");
  background-position: top center;
  width: 1200px;
}
.attention {
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  width: 1200px;
  height: 216px;
}
/* 5 ПРИЧИН */
.reasons-header {
  font: inherit;
  font-size: 14px;
  text-align: center;
  line-height: 26 px;
  background-color: var(--basic-white);  
}
.colomn-1 {
  display: flex; 
  justify-content: space-between;

   
}
.colomn-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

}
.reasons-list {
  font: inherit;
  list-style: none;
}
/*
.colomn-1 {

  display: inline;
}*/
.reason-item {
  font: inherit;
  text-align: center;
}
.reason-item h3 {
   font-size: 21px;
   line-height: 21px;
}
.best-variant {
  font:inherit;
  text-align: center;
}
/*Форма Поиска*/
.search-form {
  font:inherit;
  text-align: center;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 568px;
  height: 395px;
}

.call-search-form {
  text-align: center; 
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown); 
}
.call-search-form a {
  font:inherit;
  width: 319px;
  color: var(--basic-white);
  font-size: 21px; 
  font-weight: bold;
  
}
.call-search-form a :hover,
.call-search-form a :focus {
  width: 568px;
  height: 86px;
  background-color: #604E43;
   
   
}

.call-search-form a:active {
  background-color: #503E33;
  
}
.date-arrive {
  font: inherit;
  background-color: var(--basic-background);
  widows: 346px; 
  height: 38px ;
}
.date-depart {
  font: inherit;
  background-color: var(--basic-background);
  widows: 346px; 
  height: 38px ;
  border-color: var(--basic-background);
}
.find {
  font:inherit;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.map-sidona {
  text-align: center;
}
/* ЕСЛИ ПОНАДОБИТЬСЯ КНОПКА
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white) ;
  text-transform: uppercase;
  border-color: var(--basic-background);
} */

/* Футер */
.main-footer {
  background-color: var(--basic-white) ;
  color: var(--basic-black);
  padding: 20px 0;
  margin-top: 23px;
   
  /*
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;*/
}
.main-footer a{
  color: var(--basic-black);
  
}
.main-footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.visit {
color:inherit;
text-align: center;
width: 251 px;
/*
outline: 5px solid rgba(255, 251, 0, 0.7);
outline-offset: -5px; */
}
.footer-logo {
text-align: right;
color: var(--basic-black);
/*
outline: 5px solid rgba(0, 255, 255, 0.7);
outline-offset: -5px; */
}
.footer-logo:hover,
.footer-logo:focus {
text-align: right;
color: var(--basic-blue);
}
.footer-logo:focus {
text-align: right;
color: var(--basic-background);
}
/* СОЦ СЕТИ*/
.social-list {
  list-style: none;
  text-align: center;
  justify-self: center;
  /*
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;*/

}
 .social-button {
   background-color: var(--basic-blue);
   width: 46;
   height: 48;
   
 }
 
.social-button  a:hover,
.social-button  a:focus,
 {
background-color: var(--first-blue);
}
.social-button a:active {
background-color: var(--second-blue);
} 

/* Inner.html */
.page-body-inner{
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.accomodation {
  font: inherit; 
  border: none; 
  height: 217 px;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 600px;
  background-image: url("../img/background-inner.png");
  color: var(--basic-white);
}
.accomodation-list {
  font: inherit;
  list-style: none; 
  background-color: var(--basic-white);
}
.amara  {
  display: grid;
   grid-template-columns: 1fr 6fr min-content;
}
.desert {
  display: grid;
   grid-template-columns: 1fr 6fr min-content;
}
.villas {
  display: grid;
   grid-template-columns: 1fr 6fr min-content;
}

.sorting {
  font: inherit;
  list-style: none;
}
.sorting li:first-child a{
  color: var(--basic-blue);
}
.sorting li:nth-child(2) a{
  text-decoration: underline;
  mix-blend-mode: normal;
  opacity: 0.3;
  color: var(--basic-black);
}
.sorting li:nth-child(3) a{
  text-decoration: underline;
  color: var(--basic-black);
}
.cost-per-day {
  font: inherit; 
  text-align: center; 
  margin-top: 27px;
}
.cost-per-day legend{
  font-size: 16px; 
  text-align: none;
}
.type-accomodation legend{
  font-size: 16px; 
  text-align: right;
}
 .search-menu {
  font: inherit; 
  background-color: var(--basic-white) ;
 
  display: flex;
  justify-content: space-between;
}
 